{% extends 'base.html' %}
{% load static %}

{% block title %}Buratovich Hnos. - Cambio de Password Exitoso{% endblock %}

{% block path %}
<div class="path maxwidth">
	<div class="path-container">
		{% if user.is_authenticated %}
			<div class="hi">Bienvenido, <span class="customer-name">{{user.userinfo.company_name}}</span></div>
		{% endif %}
	</div>
	<div class="path-container">
		<div class="route"><a href="/">Home</a> <span class="chevron">></span> <a href="{% url 'extranet' %}">Extranet</a> <span class="chevron">></span> <span class="current">Cambiar Password</span></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section id="change-password" class="maxwidth">
	<div class="state">
			<p>¡Ha cambiado su password correctamente!</p>
			<br><br><br>
			<div class="back">
				<a href="/extranet"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Ir a la <span>EXTRANET</span></a>
			</div>
			<div class="back">
				<a href="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Ir a <span>BURATOVICH.COM</span></a>
			</div>
	</div>
</section>
{% endblock %}